<div *ngIf="todo.request == 0" style="background-color: var(--card-color); border-radius: 16px;">
  <div style=" padding: 8px 16px 16px;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <div style="display: flex;">
        <h1 style="margin: 0; font-size: 3vh;">{{todo.name}}</h1>
        <ion-icon (click)="showTodoDetails()" style="top: 10px; cursor: pointer; position: relative; margin-left: 6px;" name="information-circle"></ion-icon>
      </div>
      <ion-icon style="color: black; cursor: pointer;" name="apps" (click)="openMoveMenu()"></ion-icon>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <p style="margin: 0;">{{getShortDescriptionFromTodo()}}</p>
      <ion-icon style="color: black; cursor: pointer;" name="trash" (click)="deleteTodo()"></ion-icon>
    </div>
  </div>
  <div *ngIf="todo.checked == 0" style="background-color: rgba(128, 128, 128, 0.4); padding-top: 2px; border-radius: 16px; width: 95%; justify-self: center; padding-bottom: 4px;"></div>
  <div *ngIf="todo.checked == 1" style="background-color: rgba(255, 166, 0, 0.4); padding-top: 2px; border-radius: 16px; width: 95%; justify-self: center; padding-bottom: 4px;"></div>
  <div *ngIf="todo.checked == 2" style="background-color: var(--primary-color); padding-top: 2px; border-radius: 16px; width: 95%; justify-self: center; padding-bottom: 4px;"></div>
</div>

<div *ngIf="todo.request == 1" style="cursor: pointer; background-color: rgba(255, 255, 0, 0.146); color: white; border-radius: 16px; padding: 8px 16px 16px;">
  <div style="display: flex; flex-wrap: wrap;">
    <div>
      <div style="display: flex;">
        <h1 style="margin: 0;">{{todo.name}}</h1>
        <ion-icon (click)="showTodoDetails()" style="top: 10px; cursor: pointer; position: relative; margin-left: 6px;" name="information-circle"></ion-icon>
      </div>
      <p style="color: white;">{{getShortDescriptionFromTodo()}}</p> 
    </div>
    <div style="text-align: right; margin-left: 256px;" *ngIf="isOwner">
      <button (click)="acceptTodoRequest()" style="background-color: rgba(0, 255, 0, 0.234); padding: 8px; margin: 4px; border-radius: 4px;">Annehmen</button> <br/>
      <button (click)="refuseTodoRequest()" style="background-color: rgba(255, 0, 0, 0.234); padding: 8px; margin: 4px; border-radius: 4px;">Ablehnen</button>
    </div>
    <div style="text-align: right; margin-left: 256px;" *ngIf="!isOwner">
      <button (click)="withdrawTodoRequest()" style="background-color: rgba(255, 0, 0, 0.234); padding: 8px; margin: 4px; border-radius: 4px;">Zurückziehen</button>
    </div>
  </div>
</div>