<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div style="
      position:relative;        /* wichtig, damit das Kind absolut darin positioniert werden kann */
      height:50vh;              /* halbe Bildschirmhöhe */
      background-image:url('assets/images/back.png');
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
  ">
      <!-- Overlay-Container -->
      <div style="
          position:absolute;
          top:50%; left:50%;
          transform:translate(-50%,-50%); /* exakt zentrieren */
          text-align:center;
          color:white;
          padding:1rem 2rem;
          background:rgba(0,0,0,0.4);     /* halbtransparenter Hintergrund für bessere Lesbarkeit */
          border-radius:0.5rem;
      ">
          
      </div>

      <div class="card-outside">
        <ion-card style="margin-top: 128px;">
          <div class="card">
            <img src="assets/images/logo_black.png" style="text-align: center; justify-self: center; align-self: center;" height="200vh" width="200vh"/>
            <form>
              <h2>Passwort zurücksetzen</h2>
        
              <br/>
        
              <div class="input-field">
                <label>Neues Passwort</label>
                <input style="background-color: var(--card-color)" required type="password" [(ngModel)]="password" name="password"/>
              </div>
        
              <div class="input-field">
                <label>Passwort wiederholen</label>
                <input style="background-color: var(--card-color)" required type="password" [(ngModel)]="passwordConfirmed" name="passwordConfirmed"/>
              </div>

              <ion-button (click)="resetPassword()">
                Passwort zurücksetzen
              </ion-button>
            </form>
          </div>
        </ion-card>

        <p style="color: black;">Noch keinen Account? Jetzt <a href="sign-up">hier</a> registrieren.</p>

      </div>
  </div>

</ion-content>


