<ion-content [fullscreen]="true">

  <app-cookie-banner></app-cookie-banner>

  <div style="margin-top: 128px; text-align: center;">
    <div style="width: 80%; justify-self: center; justify-content: center; background-color: var(--card-color); text-align: center; margin-left: 32px; margin-right: 32px; border-radius: 32px; padding-top: 32px; padding-bottom: 32px; padding-bottom: 42px;">
      <h1 style="font-size: 4vh;">Neue Projektanfrage</h1>
      <input [(ngModel)]="newName" placeholder="Projekt Name" type="text" style="width: 60%; background-color: white; padding: 16px; color: black; border-radius: 16px; margin-top: 32px;"/>
      <textarea [(ngModel)]="newDescription" placeholder="Projekt Beschreibung" style="width: 60%; background-color: white; padding: 16px; color: black; border-radius: 8px; margin-top: 8px;"></textarea>
      <input [(ngModel)]="price" placeholder="Preis Vorschlag" type="number" style="width: 60%; background-color: white; padding: 16px; color: black; border-radius: 16px; margin-top: 8px;"/>
      <input [(ngModel)]="newDeadline" placeholder="Deadline" type="date" style="width: 60%; background-color: white; padding: 16px; color: black; border-radius: 16px; margin-top: 8px;"/>
      <button (click)="createProjectRequest()" style="width: 60%; background-color: var(--primary-color); border-radius: 8px; padding-top: 16px; padding-bottom: 16px; margin-top: 32px;">Anfrage senden</button>
    </div>
  </div>

</ion-content>

<app-footer></app-footer>
