<ul class="list-group mt-2">
  <li class="list-group-item d-flex flex-column gap-2">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="mb-1">{{project.name}}</h5>
      <small class="fw-bold">{{project.price}} $</small>
    </div>

    <!-- Beschreibung -->
    <p style="margin: 0;">{{shortDescription}}</p>
    <p class="mb-2"><b>Deadline:</b> {{project.deadline}}</p>

    <!-- Fortschritt -->
    <div>
      <ion-progress-bar [value]="project.status / 100" color="primary"></ion-progress-bar>
      <small>{{project.status}}%</small>
    </div>

    <!-- Aktionen -->
    <div class="d-flex justify-content-end gap-3">
      <ion-icon (click)="goToProjectDetails()" style="cursor: pointer; font-size: 24px;" name="arrow-redo-circle"></ion-icon>
      <ion-icon (click)="deleteProject()" *ngIf="isOwner" style="cursor: pointer; font-size: 24px;" name="trash"></ion-icon>
    </div>
  </li>
</ul>
