:root {
  --toolbar-color: #007cff;
  --primary-color: #007cff;
  --card-color: #e7e7e7;
  --card-color-text: #9d9d9d;
  --contrast: black;
  --background: #ffffff;
  --outer-card: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --toolbar-color: #007cff;
    --primary-color: #007cff;
    --card-color: #e7e7e7;
    --card-color-text: #d4d4d4;
    --contrast: rgb(0, 0, 0);
    --background: #ffffff;
    --outer-card: #f6f6f6;
  }
}