.cookie-banner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .cookie-banner {
    background: var(--card-color);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 90%;
  }
  
  button {
    background: #007bff;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  .details-button {
    background: #6c757d;
    margin-left: 10px;
  }
  
  .details-button:hover {
    background: #545b62;
  }
  
  .cookie-details {
    margin-top: 20px;
    text-align: left;
    background: rgb(76, 76, 76);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .cookie-details a {
    color: #007bff;
    text-decoration: none;
  }
  
  .cookie-details a:hover {
    text-decoration: underline;
  }