<div *ngIf="showBanner" class="cookie-banner-overlay">
  <div class="cookie-banner" style="background-color: white;">

    <p>Diese Website verwendet notwendige Cookies, um den Betrieb sicherzustellen.</p>

    <div *ngIf="!showDetails" class="cookie-details" style="background-color: var(--card-color);">
      <p><strong>Welche Cookies setzen wir?</strong><br>
        Auth-Token, Login, Cookiebanner</p> <br/>
        ...
    </div>

    <div *ngIf="showDetails" class="cookie-details" style="background-color: var(--card-color);">
      <p><strong>Welche Cookies setzen wir?</strong><br>
      Login, Auth-Token, Cookie-Banner</p>
      <p><strong>Warum sind sie notwendig?</strong><br>
      Um die Funktion von Login und Cookie-Banner zu garantieren.</p>
      <p><strong>Speicherdauer:</strong><br>
      Solange bis ein User sie löscht.</p>
      <p><strong>Mehr Informationen:</strong><br>
      <a href="/datenschutz" target="_blank">Datenschutzerklärung</a></p>
    </div>

    <button (click)="acceptCookies()">Notwendige Cookies zulassen</button>
    <button (click)="toggleDetails()" class="details-button">Mehr erfahren</button>
    
  </div>
</div>