<div *ngIf="todo.checked == 0" class="text-center pt-3" style="background-color: rgba(128, 128, 128, 0.4);">
  <div style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 16px; padding-right: 16px;">
    <div style="flex: 1; text-align: center;">
      <h2 class="mb-0 text-white">{{todo.name}}</h2>
    </div>
    <ion-icon style="cursor: pointer;" class="text-white" (click)="closePopUp()" name="close"></ion-icon>
  </div>
  <div class="p-4" style="background-color: white;">
    <i class="text-dark">{{todo.description}}</i>
  </div>
</div>

<div *ngIf="todo.checked == 1" class="text-center pt-3" style="background-color: rgba(255, 166, 0, 0.4);">
  <div style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 16px; padding-right: 16px;">
    <div style="flex: 1; text-align: center;">
      <h2 class="mb-0 text-white">{{todo.name}}</h2>
    </div>
    <ion-icon style="cursor: pointer;" class="text-white" (click)="closePopUp()" name="close"></ion-icon>
  </div>
  <div class="p-4" style="background-color: white;">
    <i class="text-dark">{{todo.description}}</i>
  </div>
</div>

<div *ngIf="todo.checked == 2" class="text-center pt-3" style="background-color: var(--primary-color);">
  <div style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 16px; padding-right: 16px;">
    <div style="flex: 1; text-align: center;">
      <h2 class="mb-0 text-white">{{todo.name}}</h2>
    </div>
    <ion-icon style="cursor: pointer;" class="text-white" (click)="closePopUp()" name="close"></ion-icon>
  </div>
  <div class="p-4" style="background-color: white;">
    <i class="text-dark">{{todo.description}}</i>
  </div>
</div>
