

<ion-content [fullscreen]="true">

  <app-cookie-banner></app-cookie-banner>

  <div style="margin-top: 128px; color: black; margin-left: 16px;">
    <h1>Impressum</h1>
    <h3>Angaben gemäß §5 DDG</h3>
    <p>Vertretungsberechtigte Person: Emanuel Pauen</p>
    <div style="margin-top: 16px;">
      <h3>Kontakt</h3>
      <p>Telefon: (02841) 9498938</p>
      <p>E-Mail: {{email}}</p>
    </div>
    <div style="margin-top: 16px;">
      <h3>Pauen-IT c/o MDC Management#845</h3>
      <p>Welserstraße 3,</p>
      <p>87463 Dietmannsried</p>
      <p>Deutschland</p>
    </div>
    <div style="margin-top: 16px;">
      <h3>Umsatzsteuer-ID</h3>
      <p>DE368582250</p>
    </div>
    <div style="margin-top: 16px;">
      <h3>Inhaltlich Verantwortlich</h3>
      <p>Emanuel Pauen (Adresse siehe oben)</p>
    </div>
  </div>

</ion-content>

<app-footer></app-footer>
