ion-toolbar {
    --background: var(--primary-color);
    --ion-color-base: black; /* Optional: Ändert die Textfarbe für besseren Kontrast */
    --color: white;
}

ion-back-button {
  --color: white;
}

.input-field {
    margin-top: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-field ion-icon {
    margin-right: 8px;
    scale: 1.3;
}

.input-field label {
    width: 80px; /* Feste Breite für alle Labels */
    margin-right: 10px;
    text-align: right; /* Optional: Text rechtsbündig */
}

ion-card {
    --background: var(--card-color);
    --pading: 32px;
}


form {
    display: flex;
    flex-direction: column;
}

input {
    border-style: none;
    border-radius: 4px;
    flex: 1;
    padding: 8px;
    margin-left: 8px;
    text-decoration: none;
}


ion-button {
  --background: var(--primary-color);
  --color: white;
  --background-activated: var(--primary-color);
  --background-focused: var(--primary-color);
  --background-hover: var(--primary-color);
  --background-selected: var(--primary-color);
  --background-disabled: var(--primary-color);
  --border-color: var(--primary-color);
  --box-shadow: none;
  --padding: 0;
  --margin-top: 8px;
  --border-radius: 0;
  --text-decoration: none;
}


.card-outside {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    text-align: center;
}

p {
    color: gray;
}

.card {
    text-align: center;
    padding: 64px;
}


ion-icon {
  margin-right: 8px;
  color: white;
}

img {
    text-align: center;
    margin-bottom: 16px;
}