app-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
}

app-sidebar.collapsed {
  width: 80px;
}

.width-main {
    transition: margin-left 0.3s ease;
}

.modal-backdrop {
  z-index: 1040;
}
.modal {
  z-index: 1050;
}

.scroll-wrapper {
  overflow-x: auto; /* ermöglicht horizontales Scrollen */
  -webkit-overflow-scrolling: touch; /* für flüssiges Scrollen auf iOS */
  width: 100%; /* nimmt die volle Breite des Bildschirms ein */
}


@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

/* Optional: unterschiedliche Skeleton Typen */
.skeleton-text { height: 20px; }
.skeleton-button { height: 25px; border-radius: 12px; }
.skeleton-iframe { height: 280px; }

