.todo-card {
    background-color: var(card-color);
    margin-top: 256px;
    padding: 16px; 
    width: fit-content; 
    border-radius: 16px; 
    padding-bottom: 32px; 
    padding-left: 32px; 
    padding-right: 32px;
}

.todo-container {
  margin-top: 64px;
  text-align: center;
  background-color: var(--card-color);
  border-radius: 16px;
  padding: 16px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.todo-input {
  background-color: #c9c9c9;
  padding: 8px 12px;
  height: 40px; /* Fixierte Höhe */
  line-height: 1; /* verhindert extra Abstand */
  border-radius: 8px;
  border: none;
  outline: none;
  min-width: 180px;
  flex: 1 1 200px;

  /* Mobile reset */
  appearance: none;
  box-sizing: border-box;
}

.todo-button {
  background-color: #c9c9c9;
  padding: 0 16px;
  height: 40px; /* gleiche Höhe wie Input */
  line-height: 1;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  flex: 0 0 auto;
  transition: background-color 0.3s;
}

.todo-button:hover {
  background-color: #b0b0b0;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%; 
    gap: 16px; 
    margin-top: 32px; 
    justify-content: center; 
    justify-self: center;
}

/* Responsive: Untereinander auf kleinen Screens */
@media (max-width: 600px) {
  

  .todo-input,
  .todo-button {
    width: 100%;
  }
}

@media (max-width: 800px) {
  

  .buttons-container {
    display: block;
  }
}




