<ul class="list-group">
  <li class="list-group-item d-flex flex-column gap-2">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="mb-1">{{projectRequest.name}}</h5>
      <small class="fw-bold">{{projectRequest.price}} $</small>
    </div>

    <!-- Beschreibung -->
    <p style="margin: 0; padding: 0;">{{shortDescription}}</p>
    <p class="mb-2"><b>Deadline:</b> {{ projectRequest.deadline }}</p>

    <!-- Aktionen -->
    <div *ngIf="!isOwner" class="d-flex justify-content-end">
      <button (click)="withdrawRequest()" class="btn btn-outline-primary">
        Anfrage zurückziehen
      </button>
    </div>

    <div *ngIf="isOwner" class="d-flex justify-content-end gap-2">
      <button (click)="acceptRequest()" class="btn btn-outline-success">
        Annehmen
      </button>
      <button (click)="refuseRequest()" class="btn btn-outline-danger">
        Ablehnen
      </button>
    </div>
  </li>
</ul>
