<ion-content [fullscreen]="true">
  <app-cookie-banner></app-cookie-banner>

  <div class="scroll-wrapper">
    <div class="d-flex flex-row vh-100">
      <!-- Sidebar -->
      <app-sidebar [ngClass]="{ 'collapsed': collapsed }" (collapsedChange)="onSidebarChange($event)" [active]="3"></app-sidebar>

      <!-- Main Content -->
      <div [ngStyle]="{ 'margin-left.px': collapsed ? 80 : 250 }" class="width-main flex-fill p-4">
        <main class="container" style="margin-top: 128px;">
          
          <div class="calendar-header">
              <ion-button fill="clear" (click)="prevMonth()">‹</ion-button>
              <h2>{{ currentDate | date:'MMMM yyyy' }}</h2>
              <ion-button fill="clear" (click)="nextMonth()">›</ion-button>
            </div>

            <div *ngIf="isLoading" class="calendar-grid">
              <div class="day-name" *ngFor="let day of ['Mo','Di','Mi','Do','Fr','Sa','So']">
                {{day}}
              </div>

              <div class="day-cell" *ngFor="let i of [].constructor(42)">
                <div class="day">
                  <div class="day-number skeleton"></div>
                  <div class="appointments">
                    <div class="appt skeleton" style="height:14px; margin-top:4px;"></div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="!isLoading" class="calendar-grid">
              <div class="day-name" *ngFor="let day of ['Mo','Di','Mi','Do','Fr','Sa','So']">{{day}}</div>

              <div class="day-cell" *ngFor="let week of weeks; let w = index">
                <div 
                  class="day"
                  *ngFor="let day of week"
                  [class.inactive]="!day.isCurrentMonth"
                  [class.today]="day.isToday"
                  [class.selected]="isSameDate(day.date, selectedDate)"
                  (click)="selectDay(day)"
                >
                  <div class="day-number">{{day.date.getDate()}}</div>
                  <div class="appointments">
                    <div class="appt" *ngFor="let appt of day.appointments">
                      <p class="text-white" *ngIf="appt.deadline == 0">{{ appt.topic }}</p>
                      <p class="text-white" *ngIf="appt.deadline == 1">Deadline</p>
                      <p class="text-white" *ngIf="appt.deadline == 2">Request Deadline</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div *ngIf="getAppointmentsForDay(selectedDate).length > 0" class="selected-appointments">
              <h3>Termine am {{ selectedDate | date:'dd.MM.yyyy' }}</h3>
                <div class="card p-3 outline-card mt-1 mb-1" *ngFor="let appt of getAppointmentsForDay(selectedDate)">
                  
                  <div *ngIf="appt.deadline == 0">
                    <ion-label>
                      <h2>{{ appt.topic }}</h2>
                      <p>{{ appt.time }} Uhr</p>
                      <a class="btn btn-outline-primary mt-1" href="appointment-details/{{ appt.id }}">Zum Termin</a>
                    </ion-label>
                  </div>

                  <div *ngIf="appt.deadline == 1" class="m-2">
                    <h2 class="text-danger">Deadline</h2>
                    <a class="btn btn-outline-danger mt-1" href="project-details/{{ appt.project }}/{{ appt.customer }}">Zum Projekt</a>
                  </div>

                  <div *ngIf="appt.deadline == 2" class="m-2">
                    <h2 class="text-warning">Deadline Request</h2>
                  </div>

                </div>
            </div>

        </main>
      </div>
    </div>
  </div>
</ion-content>
