.gap-wrapper {
    gap: 200px;
  }

  @media (max-width: 540px) {
    .gap-wrapper {
      flex-wrap: wrap;
    }
  }

  .hero-header {
    min-height: 55vh;    // oder 80vh / 90vh je nach Geschmack
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  @media (max-width: 1350px) {
    .h-home {
      height: 75vh;
    }
    .gap-wrapper {
      gap: 4px;
    }
  }

  @media (max-width: 1195px) {
    .h-home {
      height: 75vh;
    }
    .gap-wrapper {
      gap: 0px;
    }
  }

  @media (max-width: 768px) {
    .h-home {
      height: 120vh;
    }
  }

  @media (max-width: 485px) {
    .h-home {
      height: 90vh;
    }
  }

  @media (max-width: 400px) {
    .h-home {
      height: 120vh;
    }
  }