<ion-content [fullscreen]="true">

  <div class="container" style="margin-top: 128px;">

    <div class="row mb-4">
      <div class="col-12 col-md-6 mb-3 mb-md-0">
        <div class="outer-card card text-dark p-3 h-100">
          <div class="d-flex justify-content-between align-items-center">
            <div class="metric-card text-dark p-0 m-0" style="font-size: 1.5vh">Kunde</div>
          </div>
          <div>
            <p class="text-dark p-0 m-0" style="font-size: 2.3vh;">{{ customer.name }}</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3 mb-md-0">
        <div class="outer-card card text-dark p-3 h-100">
          <div class="d-flex justify-content-between align-items-center">
            <div class="metric-card text-dark p-0 m-0" style="font-size: 1.5vh">Anzahl der Projekte</div>
          </div>
          <div>
            <p class="text-dark p-0 m-0" style="font-size: 2.3vh;">{{ projects.length }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-4">
      <div class="col-md-8">
        <div class="metric-card outer-card card p-3 border border-primary">
          <h5>Projekte von {{customer.name}}</h5>
          <div id="barChart" class="chart-placeholder mb-3" style="max-height: 250px; overflow-y: auto;">
            <div *ngFor="let project of projects">
              <app-project [project]="project"></app-project>
            </div>
          </div>
          <button *ngIf="isOwner" (click)="openCreateProjectModal()" class="btn btn-primary mt-3">
            <i class="bi bi-plus"></i> Projekt erstellen
          </button>
          <button *ngIf="!isOwner" (click)="openCreateProjectRequestModal()" class="btn btn-primary mt-3">
            <i class="bi bi-plus"></i> Projektanfrage erstellen
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="metric-card outer-card card p-3">
          <h5>Projektanfragen</h5>
          <div *ngFor="let projectRequest of projectRequsts">
              <app-project-request [projectRequest]="projectRequest" [isOwner]="isOwner" (deleteTriggered)="update()"></app-project-request>
            </div>
        </div>
      </div>
    </div>

    <div class="row g-4 mt-3 mb-4">
      <div class="col-md-8">
        <div class="metric-card outer-card card p-3">
          <h5>Termine</h5>
          <div id="barChart" class="chart-placeholder mb-3" style="max-height: 250px; overflow-y: auto;">
            <div *ngFor="let appointment of customerAppointments">
              <app-appointment-item [appointment]="appointment"></app-appointment-item>
            </div>
          </div>
          <button (click)="openCreateAppointmentRequestModal()" class="btn btn-primary mt-3">
            <i class="bi bi-plus"></i> Terminanfrage erstellen
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="metric-card outer-card card p-3">
          <h5>Terminanfragen</h5>
          <div *ngFor="let appointmentRequest of customerAppointmentRequests">
              <app-appointment-request [appointmentRequest]="appointmentRequest"></app-appointment-request>
          </div>
        </div>
      </div>
    </div>

  </div>

</ion-content>

<app-footer></app-footer>